@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-light;
    }

    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}